html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

.bg-overlay {
  background: linear-gradient(to right, #190054, #7a6262);
  opacity: 1;
}
#_nav_container {
  margin-left: 10%;
  max-width: none;
}

#_nav_container > #navbarCollapse {
  flex-direction: column;
}

#_nav_container > #navbarCollapse > ul > li {
  margin-left: 15px;
}


#_nav_logo {
  font-size: 23px;
  font-family: 'Press Start 2P';
  font-weight: 400;
  letter-spacing: 0px;
}

#_nav_logo > .logo {
  width: 40px;
  height: 40px;
  margin-right: 5px;
}

#_display_row {
  /* margin-top: -180px; */
  margin-bottom: 35px;
  max-width: none;
}

#_homeTitle {
  font-size: 75px;
  /* font-family: 'Press Start 2P'; */
  /* font-size: 45px; */
  font-family: muller,sans-serif;
  font-weight: 800;
}

#_homeDate {
  font-size: 17px;
  max-width: none;
  font-family: 'Press Start 2P';
  letter-spacing: -1px;
}

#_home_explan {
  font-size: 25px;
  font-family: 'Avenir Heavy';
}

.countup {
  font-size: 26px;
  margin-left: 13%;
  z-index: 9;    
  font-family: 'Press Start 2P';
}

.countup > span {
  font-size: 13px;
  margin-top: 15px;    
  letter-spacing: 0px;
}

.div_countup {
  display: flex;
  align-content: flex-end;
  margin-top: 8%;
}

.aboutEvent {
  font-size: 17.4px;
  line-height: 30px;
}

._aboutDiv {
  margin-top: 4%;
}

#_description > .bg-overlay {
  opacity: 1;
}


.home-desc {
  color: rgb(255 255 255 / 92%);
  font-size: 16px;
  max-width: 600px;
  margin: 0 auto;
}

.section-title {
  text-transform: none;
  /* font-family: 'Press Start 2P'; */
  letter-spacing: 0px;
  font-size: 17px;
}

._testi_container {
  max-width: none;
  padding-right: 15%;
  padding-left: 15%;
}

.testimonial-box > .testimonial-decs > p {
  font-size: 16px;
}

.testimonial-decs {
  min-height: 162px;
}

.joinNow {
  margin-top: 7%;
  margin-bottom: 10px !important;
}

.features-box > .text-muted {
  color: #6c757d!important;
}

.features-item-list li {
  position: relative;
  line-height: 26px;
  font-size: 18px;
  padding: 7px 25px 7px 20px;
}

#_feature_subtitle {
  font-size: 16px;
}

#mySidenav > li > a {
  font-family: 'Press Start 2P';
  font-size: 13px;
}


/* For the demo------------------------------- */
.slick-slide img {
  margin: auto;
  width: 50%;
  height: 50%;
}
.slick-slider {
  width: 100%;
  overflow: hidden;
}
.slick-list {
  position: relative;
  display: block !important;
  width: 100%;
}
.slick-slide div {
  width: auto;
  margin-right: 10px;
}
.slick-slide img {
  width: calc(100% - 10px) !important;
}



.slick-prev,
.slick-next {
  z-index: 999 !important;
}
.slick-prev {
  left: 25px !important;
}
.slick-next {
  right: 25px !important;
}

.testimonial-box img {
  /* margin: -58px auto; */
  height: 60%;
  width: 61%;
  margin-top: 11%;
  margin-left: 20%;
}

._countdown {
  display: flex;
  bottom: 30px;
  right: 30px;
  border: 3px solid #ffffff;
  background-color: rgb(255, 255, 255);
  opacity: 0.8;
  min-width: 210px;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 12px;
  margin-top: 3%;
}

.displayedTime >  .countBox {
  display: flex;
  font-size: 18px;
  flex-direction: row-reverse;
} 

.displayedTime >  .countBox > .split {
  margin-top: 10%;
  color: rgb(22, 22, 22) !important;
  font-size: 80px;
}

.displayedTime >  .countBox > .countBoxItem {
  margin-top: 3%;
  margin-bottom: 1%;    
  width: 95px;
  text-align: center;
}

.displayedTime >  .countBox > .countBoxItem > .count {
  color: rgb(22, 22, 22) !important; 
  margin-top: -2%;
  background-color: rgb(255, 255, 255) !important;
  /* font-family: 'Press Start 2P'; */
  font-size: 70px !important;
}

.displayedTime >  .countBox > .countBoxItem > .label {
  color: rgb(22, 22, 22) !important; 
  text-align: center;
  /* font-family: 'Press Start 2P'; */
  font-size: 30px !important;
}

.team-box {
  border-bottom: 3px solid #717476;
  background-color: #e7f1eb;
  border-radius: 10px;
}

.css-dsq3q4 {
  margin-right: 0.5rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 9999px;
  padding: 0.5rem;
  font-weight: 600;
  transition-property: color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 100ms;
}
button, [type='button'], [type='reset'], [type='submit'] {
  
  background-color: transparent;
  background-image: none;
}
.tooltip-handle {
  position: relative;
}
.css-edyqgg {
  height: 1.5rem;
  width: 1.5rem;
  stroke: currentColor;
}
.css-1fnh8j1 {
  /* height: 1.5rem; */
  width: 1.5rem;
  fill: currentcolor;
}

/* fish sui -----------   -----------------*/

.get_started, .learn_more {
  font-size: 32px;
  margin-left: 7%;
  margin-right: 7%;
  z-index: 99;    
  margin-top: 6%;
  background-color: #5067ef;
  color: white;
  font-weight: 500;
  line-height: inherit;
  border-radius: 20px;
}
.get_started:hover, .learn_more:hover {
  color: #ffdf68;
}

._claim {
  font-size: 32px;
  margin-left: 7%;
  margin-right: 7%;
  z-index: 99;    
  margin-top: 6%;
  background-color: #5067ef;
  color: white;
  font-weight: 500;
  line-height: inherit;
  border-radius: 20px;    
  margin-left: 32%;
}
._claim:hover {
  color: #ffdf68;
}

#_video {
  border-style:none;
  border-width:0px;
  padding-top:0;
  padding-right:0;
  padding-bottom:0;
  padding-left:0;
  min-height:520px;
  margin-left: auto !important;
  margin-right: auto !important;
  position: inherit;
  margin-top: 2%;
  margin-bottom: 5%;
}

#_video > video {
  object-position:70% 70%;
  width: 75% !important;
  max-width: 100% !important;
  margin-left: 13%;
}

._token {
  font-size: 32px;
  margin-left: 7%;
  margin-right: 7%;
  z-index: 99;    
  background-color: #5067ef;
  color: white;
  font-weight: 500;
  line-height: inherit;
  border-radius: 20px;   
  margin-bottom: 5%;
}
._token:hover {
  color: #ffdf68;
}

#_span {
  border-radius:99px;padding-top:0.5em;padding-right:0.5em;padding-bottom:0.5em;padding-left:0.5em;--wp--custom--icon--background:var(--wp--preset--color--outline, currentColor);--wp--custom--icon--color:var(--wp--preset--color--primary,currentColor);--wp--custom--icon--padding:0.5em 0.5em 0.5em 0.5em;--wp--custom--icon--size:1.5em;--wp--custom--icon--url:url('data:image/svg+xml;utf8,<svg xmlns=&quot;http://www.w3.org/2000/svg&quot; viewBox=&quot;0 0 24 24&quot;><path d=&quot;m16.7 7.1-6.3 8.5-3.3-2.5-.9 1.2 4.5 3.4L17.9 8z&quot;/></svg>');
}

._connect {
  font-size: 14px;
  margin-left: 1%;
  margin-right: 7%;
  z-index: 99;
  background-color: #5067ef;
  color: white;
  font-weight: 500;
  line-height: inherit;
  border-radius: 20px;
}
